.box{
    display: flex;
    display: grid;
    display: block;
    margin: 0;
    padding: 10px 17px;
    margin: 12px;
    max-width: 178px;
    width: 23px;position: relative;
    position: absolute;position: fixed;
    background: ;
    font-style: italic;
    font-style: italic;
}